body {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Inter', sans-serif;
}
  
.Navbar {
    background-color: #F55A5A;
    width: 100%;
    display: inline-block;
    color: white;
    height: 5em;
    text-align: center;
}

.Navbar--text {
    padding-top: 1.5em;
    margin: 0 auto;
    align-items: center;
}

.travelCard {
    display: flex;
    flex-direction: row;
    padding-top: 5em;
    justify-content: center;
    align-items: center;
}

.travelCard--image {
    width: 20%;
    height: 22em;
    background-size: cover;
    border-radius: 10px;
    margin-right: 5em;
}

.travelCard--content {
    justify-content: space-between;
}

.travelCard--location-link {
    padding-top: .5em;
    display: flex;
}

.travelCard--location {
    padding-right: 1em;
}

.travelCard--location-img {
    height: 20px;
    padding-right: .5em;
}

.travelCard--link {
    padding-top: .2em;
}

.travelCard--text {
    width: 33em;
}

.hr {
    margin: 0 auto;
    margin-top: 5em;
    height: .1em;
    background-color: #d3d1d6;
    width: 70%;
}

/* Typography */

.travelCard--location {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.travelCard--link {
    color: #adaab4;
    font-size: 0.75rem;
    
}

.travelCard--place {
    font-size: 2rem;
}

.travelCard--dates {
    font-size: .9rem;
    font-weight: 400;
}

/* Media Queries */

@media (max-width: 800px) {
    .travelCard--text {
        width: 100%;
    }

    .travelCard {
        padding: 5em 3em 0em 3em;
        display: block;
    }
    .travelCard--image {
        display: block;
        width: 100%;
    }
}
